<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103608974414-hu8moj7hekh24ss1j3ashv72ft9i4sdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103608974414-hu8moj7hekh24ss1j3ashv72ft9i4sdi</string>
	<key>API_KEY</key>
	<string>AIzaSyB5ji31PsJ2fZD9wsNkDoXAQSsyUDxx5MU</string>
	<key>GCM_SENDER_ID</key>
	<string>103608974414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>duke.Keep-Up</string>
	<key>PROJECT_ID</key>
	<string>keep-up-c59cf</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-up-c59cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103608974414:ios:5a138dd76de455b3d0571f</string>
</dict>
</plist>